/* CSS RESET  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

/* header section start....  */


header{
    width: 100%;
    min-height: 5rem;;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.6s;
}

#logo a{
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: #ff9933;
}

#logo a span{
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
}

nav ul li a{
    text-decoration: none;
    padding: 0px 1rem;
    color: white;
    transition: all 0.3s;
}

nav ul li a:hover{
    color:#ff9933;
}

.humburger{
    display: none;
}

.phone-logo{
    display: none;
}

.menu-bar{
    display: none;
}

.search-icon{
    width: 2rem;
    margin: 0 0.7rem;
}

.user-icon{
    width: 2rem;
    margin: 0 0.7rem;
}

.search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: black;
    padding: 10px 20px;
    z-index: 1001; 
    transition: 0.5s;
    clip-path: polygon(0 0, 0 100%, 0 0, 0 0);
}

.search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.search-bar-container img{
    width: 30px;
    margin: 0px 10px;
}

.search-bar{
    width: 90%;
    padding: 5px 5px;
    outline: none;
    border-radius: 6px;
}

.search-bar-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.search-bar-container a:hover{
    color: #ff9933;
}

/* Login form start....  */

.login-container{
    display: none;
}

.login-container.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container-form{
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
    border: 1px solid white;
    background-color: white;
    padding: 0.3rem 2rem;
    border-radius: 3px;
}

.login-container-form h3{
    text-align: center;
    color: #ff9933;
}

.login-container-form input{
    margin:10px 0px;
    padding: 3px 5px;
    outline: none;
}

.login-container-form p a{
    text-decoration: none;

}

.login-container-form span{
    color: #ff9933;
}

.login-close{
    text-align: end;
    font-size: 2rem;
}


/* login form end...  */


/* signup form start....  */
.signup-container{
    display: none;
}

.signup-container.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-container-form{
    display: flex;
    flex-direction: column;
    height: 32rem;
    width: 25rem;
    border: 1px solid white;
    background-color: white;
    padding: 0rem 2rem;
    border-radius: 3px;
}

.signup-container-form h3{
    text-align: center;
    color: #ff9933;
}

.signup-container-form input{
    margin:7px 0px;
    padding: 2px 5px;
    outline: none;
}

.signup-container-form label a{
    text-decoration: none;
}

.signup-container-form span{
    color: #ff9933;
}

.signup-container-form p a{
    text-decoration: none;
}

.signup-close{
    text-align: end;
    font-size: 2rem;
}


/* signup form end....  */


/* header section end...  */







/* service-section-1 start  */


#service-section-1{
    width: 100%;
    height: 35vh;
    background:rgb(226, 226, 226);
    text-align: center;
    padding: 2rem 3rem;
}

#service-section-1 h3 span{
    background-color: #ff9933;
    padding-top: 0.5rem;
    color: #fff;
    padding:0.3rem 0.7rem;
    border-radius: 4px;
}

#service-section-1 p{
    color: #000;
}

/* service-section-1 end  */






/* service-section-2 start  */

#service-section-2{
    position: relative;
    width: 100%;
    height: 100vh;
}

#service-section-2 img{
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    display: flex;
    align-items:center;
    justify-content: center;
}

.service-section{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-box{
    width: 30%;
    height: 45%;
    border-radius: 5px;
    border: 2px solid gold;
    transition: transform 0.4s;
    cursor: pointer;
}

.service-box-header{
    height: 50%;
    width: 25%;
    margin: auto;
    padding: 1rem 0.3rem;
}

.service-box-footer{
    text-align: center;
}

.service-box-footer h2{
    color: #ff9933;
}

.service-box-footer p{
    color: #fff;
}

.service-box:hover{
    transform: translateY(-10px);
    border: none;
    box-shadow:0px 0px 15px black;
}


/* service-section-2 end  */





/* agency section start  */

#agency-section{
    width: 100%;
    height: 35vh;
    background-color: rgb(243, 242, 242);
}

.agency-box{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.agency-box img{
    width: 15%;
}

/* agency section end  */




/* information section start  */

#information-section{
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.information-box{
    width: 90%;
    height: 90%;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-box{
    width: 23%;
    height: 100%;
    text-align: center;
    padding: 20px 8px;
}

.link-box h4{
    color: #fff;
}

.link-box p{
    color:rgb(206, 203, 203);
}

.link-box ul{
    list-style: none;
}

.link-box ul li a{
   text-decoration: none;
   color:rgb(179, 177, 177);
}

footer{
    width: 90%;
    height: 10%;
    text-align: center;
    color:rgb(206, 203, 203);
}

footer span{
    color: #ff9933;
}

/* information section end  */















/* media Queries tablet start  */

@media (max-width:768px){

    html{
        font-size: 16px;
    }
    
    .humburger{
        display: block;
        color: #fff;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 25px;
        padding: 0 7px;
    }    

    #logo{
        padding-left: 8rem ; 
    }

    .phone-logo{
        display: none;
    }

    nav ul li{
        display: none;
    }

    .menu-bar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:black;
        z-index: -1;
    }

    .menu-bar ul{
        list-style: none;
        font: 1.2rem;
    }

    .menu-bar ul li a{
        text-decoration: none;
        padding: 0px 1rem;
        color: white;
        transition: all 0.3s;
    }

    .menu-bar ul li a:hover{
        color: #ff9933;
    }

    #service-section-1{
        width: 100%;
        overflow: hidden;
        height: 20vh;
    }

    #service-section-2{
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }

    .service-box{
        width: 45%;
        height: 30%;
    }

    #agency-section{
        overflow: hidden;
        width: 100%;
        height: 20vh;
    }
    
    #agency-section img{
        width: 14vh;
    }
    
    #information-section{
        width: 100%;
        overflow: hidden;
        height: 50vh;
        }
    }



/* media Queries tablet end  */









/* media Queries phone start  */


@media (max-width:360px){
    html{
        font-size: 16px;
        overflow: auto;
    }

    .login-container-form{
        width: 90%;
    }

    .signup-container-form{
        width: 90%;
    }

    header{
        width: 100%;
        min-height: 5rem;;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all 0.6s;
    }

    .phone-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8vh;
        background-color: black;
    }

    .phone-logo a{
        font-weight: bold;
        text-decoration: none;
        color: #ff9933;
    }

    .phone-logo a span{
        color: #fff;
    }

    #logo{
        display: none;
    }

    #user img{
        width: 1.6rem;
    }
    
    .search-icon{
        margin-left: 5rem;
    }

    #service-section-1{
        width: 100%;
        overflow: hidden;
        height: 32vh;
        padding: 1.3rem 1.5rem;
    }

    #service-section-1 p{
        padding-top: 0.5rem;
    }

    #service-section-2{
        width: 100%;
        height: 300vh;
        overflow: hidden;
    }

    .service-box{
        width: 90%;
        height: 16%;
        overflow: hidden;
        margin: 0.6rem 0;
    }


    #agency-section{
        overflow: hidden;
        width: 100%;
    }

    #agency-section img{
        width: 14vh;
    }

    #information-section{
        width: 100%;
        overflow: hidden;
        height: 140vh;
    }

}


/* media Queries phone end  */